$primary-color: red;
$secondary-color: blue;
$tertiary-color: green;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flx-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}


body{
    width: 100vw;
    height: 100vh;
    @include flx-center(column);
}

div{
    @include flx-center(column);
    border: 1px solid $primary-color;
    margin: 20px;
    padding: 20px;
    h1{
        color: $tertiary-color;
        border-bottom: 1px solid $secondary-color;
    }
    section{
        @include flx-center(row);
        margin-top: 20px;
        article{
            border: 1px solid $tertiary-color;
            &:nth-child(odd) > p{
                color: $secondary-color;
            }
            &:nth-child(even) > p{
                color: $primary-color;
            }
            p{
                padding: 30px;
                text-align: center;
            }
        }
    }
}